In [1]:
import pandas as pd
import openpyxl

In [6]:
xl = pd.read_excel("final.xlsx", sheet_name=['B40101','Ledger Template','BillRecord','ConsumerConnectionAccount'])

In [7]:
bamt = xl['B40101'].BAMT
bdamt = xl['B40101'].BDAMT

In [8]:
xl['Ledger Template']

Empty DataFrame
Columns: [AccountNumber, BillIssueDate, PayableWithinDueDate, PayableAfterDueDate, BillDueDate, Month, TotalDuesBefore, TotalDuesAfter, Arrears, Narrers, ConsumerConnectionAccountId, BillRecordId, CurrentBill, PaidAmount, BANK, SCROL, SHEET, VOUCHER, BRANCH]
Index: []

In [9]:
barea = xl['B40101'].BAREA
bacct = xl['B40101'].BACCT

In [10]:
# Creating Full bank numbers
bank = []
for i in range(len(barea)):
    
    get_values = len(barea[i]) + len(bacct[i])
    total = 13
    
    bacct_str = str(bacct[i])
    barea_str = str((barea[i]))
#     print(f"value is: {bacct[i]} to str is: {}")
    left = total - get_values

    new_string = []
    for i in range((left)-1):
        new_string.append(str(0))

    zeros = "".join(new_string)
#     print(f"zeros are: {zeros}")
    full_number = zeros + barea_str + '-' + bacct_str
    bank.append(full_number)
len(bank)

17915

In [11]:
billRecordId = xl['BillRecord'].BillRecordId
month= xl['BillRecord'].Month
bcycle = xl['B40101'].BCYCLE
bill_id = ''

In [12]:
df = xl['Ledger Template']
df

Empty DataFrame
Columns: [AccountNumber, BillIssueDate, PayableWithinDueDate, PayableAfterDueDate, BillDueDate, Month, TotalDuesBefore, TotalDuesAfter, Arrears, Narrers, ConsumerConnectionAccountId, BillRecordId, CurrentBill, PaidAmount, BANK, SCROL, SHEET, VOUCHER, BRANCH]
Index: []

In [13]:
account_number = xl['ConsumerConnectionAccount'].AccountNumber

In [14]:
b40101 = xl['B40101']

In [17]:
for i in range(len(bank)):
    consumer_id = ''
    account_number = xl['ConsumerConnectionAccount'].AccountNumber
    for d in range(len(account_number)):
        if account_number[d] == bank[i]:
            consumer_id = xl['ConsumerConnectionAccount'].ConsumerConnectionAccountId[d]
    
    
    
    Bill_table = xl['BillRecord'].Month
    id_of_bcycle = bcycle[i]
    for d in range(len(Bill_table)):
        if Bill_table[d] == id_of_bcycle:
            bill_id = id_of_bcycle
#    row = {"AccountNumber":"AccountNumber","BillIssueDate":"BillIssueDate", "PayableWithinDueDate":"PayableWithinDueDate", "PayableAfterDueDate":"PayableAfterDueDate", "BillDueDate":"BillDueDate", "Month": "Month", "TotalDuesBefore": "TotalDuesBefore", "TotalDuesAfter": "TotalDuesAfter", "Arrears": "Arrears", "Narrers": "Narrers","ConsumerConnectionAccountId": "ConsumerConnectionAccountId"  , "BillRecordId": "BillRecordId", "CurrentBill": "CurrentBill", "PaidAmount": "PaidAmount", "BANK": "BANK","SCROL": "SCROL", "SHEET": "SHEET", "VOUCHER": "VOUCHER", "BRANCH":"BRANCH" }
        
    row = {"AccountNumber":bank[i],"BillIssueDate":b40101.BDATE[i], "PayableWithinDueDate":b40101.BAMT[i], "PayableAfterDueDate":bamt[i]+bdamt[i], "BillDueDate":b40101.BDDATE[i], "Month": b40101.BCYCLE[i], "TotalDuesBefore": b40101.BTOTBE[i], "TotalDuesAfter": b40101.BTOTAF[i], "Arrears": b40101.BARRER[i], "Narrers": b40101.NARRER[i],"ConsumerConnectionAccountId": consumer_id  , "BillRecordId": bill_id, "CurrentBill": b40101.BAMT[i], "PaidAmount": b40101.BPAY[i], "BANK": b40101.BANK[i],"SCROL": b40101.SCROL[i], "SHEET": b40101.SHEET[i], "VOUCHER": b40101.VOUCHER[i], "BRANCH":b40101.BRANCH[i] }

    df = df.append(row, ignore_index=True)

df

,AccountNumber,BillIssueDate,PayableWithinDueDate,PayableAfterDueDate,BillDueDate,Month,TotalDuesBefore,TotalDuesAfter,Arrears,Narrers,ConsumerConnectionAccountId,BillRecordId,CurrentBill,PaidAmount,BANK,SCROL,SHEET,VOUCHER,BRANCH
0,000401-01-001,2021-01-31,315,346.5,2021-02-17,1,315.0,346.5,0.0,0.0,21,1,315,NaN,NaN,NaN,NaN,NaN,NaN
1,000401-01-002,2021-01-31,315,346.5,2021-02-17,1,3796.5,3828.0,0.0,3481.5,23,1,315,0.0,NaN,NaN,NaN,NaN,NaN
2,000401-01-003,2021-01-31,315,346.5,2021-02-17,1,315.0,346.5,0.0,0.0,25,1,315,315.0,NaN,510,14,32,NaN
3,000401-01-004,2021-01-31,315,346.5,2021-02-17,1,661.5,693.0,0.0,346.5,26,1,315,661.5,NaN,508,111,63,NaN
4,000401-01-005,2021-01-31,315,346.5,2021-02-17,1,315.0,346.5,0.0,0.0,27,1,315,315.0,NaN,508,111,65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17910,00401-01-654B,2021-12-31,330,363.0,2022-01-20,12,330.0,363.0,0.0,0.0,1116,12,330,330.0,NaN,598,20,40,NaN
17911,00401-01-627C,2021-12-31,330,363.0,2022-01-20,12,330.0,363.0,0.0,0.0,1067,12,330,NaN,NaN,NaN,NaN,NaN,NaN
17912,00401-01-691A,2021-12-31,330,363.0,2022-01-20,12,990.0,1023.0,0.0,660.0,1181,12,330,990.0,NaN,596,30,5,NaN
17913,00401-01-237A,2021-12-31,330,363.0,2022-01-20,12,330.0,363.0,0.0,0.0,429,12,330,330.0,NaN,599,16,46,NaN
17914,00401-01-118A,2021-12-31,330,363.0,2022-01-20,12,330.0,363.0,0.0,0.0,,12,330,330.0,NaN,596,6,18,NaN

In [18]:
import os
from openpyxl.utils.dataframe import dataframe_to_rows

file = r"final.xlsx"

# create excel file
if os.path.isfile(file):  # if file already exists append to existing file
    workbook = openpyxl.load_workbook(file)  # load workbook if already exists
    sheet = workbook['Ledger Template']  # declare the active sheet 

    # append the dataframe results to the current excel file
    for row in dataframe_to_rows(df, header = False, index = False):
        sheet.append(row)
    workbook.save(file)  # save workbook
    workbook.close()  # close workbook
    
    
# else:  # create the excel file if doesn't already exist
#     with pd.ExcelWriter(path = file, engine = 'openpyxl') as writer:
#         df.to_excel(writer, index = False, sheet_name = 'Ledger Template')